{% extends 'paginas/modelo.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block titulo %}
<title>Autenticação</title>
{% endblock %}

{% block menu %}
{% endblock %}

{% block destaque %}
{% endblock %}

{% block corpo %}
<div class="position-absolute start-50 top-50 translate-middle">
    
    {% if request.user.is_authenticated %}
        <h3 style="margin-top: 20px;" class="text-danger">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
             Ação não permitida</h3>
        <hr>
        <p>
            Houve algum problema ao processar a ação ou sua conta não possui permissão suficiente.
        </p>
            <button class="btn btn-secondary mb-2" type="button" onclick="history.back()">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Voltar
            </button>
    {% else %}
        <h3 style="margin-top: 20px;">Autenticação</h3>
        <hr>
        <form action="" method="POST">
            {% csrf_token %}

            {{ form|crispy }}

            <div class="table mt-3 text-center">
                <table class="table">
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-success">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            Entrar
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger" onclick="window.location.href='../'">
                            <i class="fa fa-close" aria-hidden="true"></i>
                            Cancelar
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}

{% block rodape %}
{% endblock %}