{% extends 'paginas/modelo.html' %}
{% load static %}
{% load mathfilters %}

{% block titulo %}
Lista de Comandas
{% endblock %}

{% block conteudo %}
<div class="table mt-3 text-center">
    <table class="table">
        <tr>
            <td>
                <h3>Listagem de todas as comandas criadas.</h3>
            </td>

            <td>
                <a href="{% url 'cad-comanda' %}" class="btn btn-primary btn-sm">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </a>
            </td>
        </tr>
    </table>
    <form action="?" method="GET" class="mb-2">
        <div class="row">
            <div class="col">
                <select id="encerrado" name="encerrado" placeholder="Comandas:">
                    {% if request.GET.encerrado|slugify == True|slugify %}
                    <option value="True" selected> Abertas </option>
                    {% elif request.GET.encerrado|slugify == 'none' %}
                    <option value="True" selected> Abertas </option>
                    {%else%}
                    <option value="True"> Abertas </option>
                    {% endif %}
                    {% if request.GET.encerrado|slugify == False|slugify %}
                    <option value="False" selected> Encerradas </option>
                    {% else %}
                    <option value="False"> Encerradas </option>
                    {% endif %}
                </select>
            </div>
            <div class="col">
                <input type="date" name="dataAbertura" id="dataAbertura" value="{{request.GET.dataAbertura|slugify}}">
            </div>

            <div class="col text-end">
                <button type="submit" class="btn btn-primary">Buscar</button>

                <a href="{% url 'listar-comanda' %}" class="btn btn-secondary">Limpar</a>
            </div>
        </div>
    </form>
    {% for obj in object_list.0 %}
    {% if obj.encerrada %}
    <div class="accordion accordion-flush mb-2" id="accordionFlush{{obj.pk}}"
        style="border: 2px solid rgb(117, 8, 8); border-radius: 5px;">
        {% else %}
        <div class="accordion accordion-flush mb-2" id="accordionFlush{{obj.pk}}"
            style="border: 2px solid rgb(17, 117, 8); border-radius: 5px;">
            {%endif%}
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-heading{{obj.pk}}">
                    <button class="collapsed accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#flush-collapse{{obj.pk}}" aria-expanded="false"
                        aria-controls="flush-collapse{{obj.pk}}">
                        <b>Mesa:</b> <span style='margin-left: 5px;'> {{obj.nmrMesa}} - {{obj.dataHoraCriada}} - Valor
                            Total: R${{obj.valorTotal}}</span>
                    </button>
                </h2>

                <div id="flush-collapse{{obj.pk}}" class="accordion-collapse collapse"
                    aria-labelledby="flush-heading{{cargo.pk}}" data-bs-parent="#accordionFlush{{obj.pk}}">
                    <div class="accordion-body" style="margin-left: 50px;">
                        <div class="row text-start">
                            <div class="col-sm-2"><b>Produtos:</b></div>
                            <div class="col-md-8" style="margin-left: 15px;">
                                {% for prod in obj.produtos.all %}
                                {% for pedido in object_list.1 %}
                                {% if obj.pk == pedido.comanda_id and prod.pk == pedido.produto_id %}
                                <span class="row mb-2" style="border: 1px solid rgb(58, 58, 58); border-radius:10px;">
                                    <span class="col">{{prod.nome}}</span>
                                    <span class="col">{{pedido.quantidade}} x R${{prod.preco}} = <span
                                            class="text-success">R${{prod.preco|mul:pedido.quantidade}}</span></span>
                                </span>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row text-start">
                            <div class="col-sm-2"><b>Observação:</b></div>
                            <div class="col-md-8" style="margin-left: 15px;">
                                {% if obj.observacao == ' ' %}
                                Não há observações.
                                {% elif obj.observacao != Null %}
                                {{obj.observacao}}
                                {% else %}
                                Não há observações.
                                {% endif %}
                            </div>
                        </div>
                        <div class="row text-start">
                            <div class="col-sm-2"><b>Total:</b></div>
                            <div class="col-md-8" style="margin-left: 15px;">
                                R${{obj.valorTotal}}
                            </div>
                        </div>
                        <div class="row text-start">
                            <div class="col-sm-2"><b>Valor Pago:</b></div>
                            <div class="col-md-8" style="margin-left: 15px;">
                                R${{obj.valorPago}}
                            </div>
                        </div>
                        <div class="row text-start">
                            <div class="col-sm-2"><b>Valor Restante:</b></div>
                            <div class="col-md-8" style="margin-left: 15px;">
                                R${{obj.valorTotal|sub:obj.valorPago}}
                            </div>
                        </div>
                        <div class="row text-start">
                            <div class="col-sm-2"><b>Funcionário:</b></div>
                            <div class="col-md-8" style="margin-left: 15px;">
                                {{obj.funcionario.primeiro_nome}} {{obj.funcionario.segundo_nome}} -
                                {{obj.funcionario.funcao.nome}}
                            </div>
                        </div>
                        <div class="row text-start">
                            <div class="col-sm-2"><b>Data:</b></div>
                            <div class="col-md-8" style="margin-left: 15px;">
                                {{obj.dataHoraCriada}}
                            </div>
                        </div>

                    </div>
                    <div class="row justify-content-around text-center">
                        {% if perms.mesas.delete_comanda %}
                        <div class="col-sm-2">
                            <a class="btn btn-danger btn" href="{% url 'del-comanda' obj.pk %}">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                Excluir</a>
                        </div>
                        {% endif %}
                        {% if not obj.encerrada and perms.mesas.change_comanda %}
                        <div class="col-sm-2">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                data-bs-target="#exampleModal{{obj.nmrMesa}}">
                                <i class="fa fa-money" aria-hidden="true"></i>
                                Pagar / Encerrar
                            </button>
                        </div>
                        {% endif %}
                        <!-- {% if obj.nmrMesa.garcom != 0 %}
                        <div class="col-sm-2" id="chamadoGarcom">
                            <button type="button" class="btn btn-warning"
                                onclick="atenderChamado('{{obj.nmrMesa.id}}');">
                                <i class="fa fa-check" aria-hidden="true"></i>
                                Chamado Atendido
                            </button>
                        </div>
                        {% endif %} -->
                        {% if perms.mesas.change_comanda %}
                        <div class="col-sm-2">
                            <a class="btn btn-primary btn" href="{% url 'edit-comProd' obj.pk %}">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                                Editar</a>
                        </div>
                        {% endif %}
                    </div>
                    {% if not obj.encerrada %}
                    <div class="modal fade" id="exampleModal{{obj.nmrMesa}}" tabindex="-1"
                        aria-labelledby="exampleModalLabel{{obj.nmrMesa}}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel{{obj.nmrMesa}}">Pagar/Encerrar
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="row justify-content-around ">
                                        <div class="col text-center">
                                            <strong>Total</strong><br>
                                            R${{obj.valorTotal}}
                                        </div>
                                        <div class="col text-center">
                                            <strong>Valor Pago</strong><br>
                                            <input type="text" id="valPago{{obj.pk}}" value="{{obj.valorPago}}">
                                        </div>
                                        <div class="col text-center">
                                            <strong>Encerrar</strong><br>
                                            <input type="checkbox" id="enc{{obj.pk}}">
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Fechar</button>
                                    <button type="button" class="btn btn-primary"
                                        onclick="Salvar('{{obj.pk}}')">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <hr>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Não há comandas abertas no sistema.</p>
        {% endfor %}

    </div>

    <script>
        function Salvar(comandaPK) {
            encerrar = false
            if ($('#enc' + comandaPK).is(":checked")) {
                encerrar = true
            }
            valPago = $('#valPago' + comandaPK).val()
            $.ajax({
                type: "GET",
                url: "{% url 'atualizarPagComanda' %}",
                data: {
                    encerrada: encerrar,
                    valorPago: valPago,
                    comandaPK: comandaPK
                },
                success: function (response) {
                    window.location.replace('{% url "listar-comanda" %}');
                }
            });
        }
    </script>
    {% endblock %}