{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
Tela Inicial
{% endblock %}


{% block conteudo %}
<h2>Seja Bem Vindo(a)!</h2>

<div class="col-md-10 mx-auto">
  <div class="row justify-content-around">
    {% if request.user.is_staff or request.user.is_superuser or perms.mesas.add_comanda%}
    <div class="btn btn-outlined-secondary card mb-2" style="width: 17rem; margin-right: 10px;" 
    onmouseenter="this.style = 'width: 17rem; margin-right: 10px;background-color: lightgray !important;'" 
    onmouseleave="this.style = 'width: 17rem; margin-right: 10px;background-color: white !important; color: black !important;'"
    onclick="{%if request.user.is_staff or reqest.user.is_superuser%}window.location.assign('{% url "listar-comanda" %}'){%else%}window.location.assign('{% url "gerencia-comanda" %}'){%endif%} ">
      <img src="{% static 'img/garcomPedidos.jpg' %}" class="card-img-top mt-2" alt="..." style="max-height: 150px;"
      style="max-width: 250px;">
      <div class="card-body">
        <h5 class="card-title">Verificar Comandas</h5>
        {% if request.user.is_staff %}
        <p class="card-text">Listagem de comandas abertas e/ou fechadas.</p>
        {% else %}
        <p class="card-text">Menu de mesas para a criação de comandas.</p>
        {% endif %}
      </div>
    </div>
    {%endif%}
    <div class="btn btn-outlined-secondary card mb-2" style="width: 17rem; margin-right: 10px;" 
    onmouseenter="this.style = 'width: 17rem; margin-right: 10px;background-color: lightgray !important;'" 
    onmouseleave="this.style = 'width: 17rem; margin-right: 10px;background-color: white !important; color: black !important;'"
    onclick="window.location.assign('{% url "listar-produto" %}')">
      <img src="{% static 'img/cardapio.jpg' %}" class="card-img-top mt-2 mx-auto" alt="Homem segurando um cardápio" 
      style="max-width: 250px;">
      <div class="card-body">
        <h5 class="card-title">Menu</h5>
        <p class="card-text">Aqui você pode olhar todos os produtos que temos no cardápio!</p>
      </div>
    </div>
    {% if not request.user.is_anonymous %}
    {% if perms.mesas.add_comanda or request.user.is_staff or request.user.is_superuser %}
    <div class="btn btn-outlined-secondary card mb-2" style="width: 17rem; margin-right: 10px;" 
    onmouseenter="this.style = 'width: 17rem; margin-right: 10px;background-color: lightgray !important;'" 
    onmouseleave="this.style = 'width: 17rem; margin-right: 10px;background-color: white !important; color: black !important;'"
    onclick="window.location.assign('{% url "cad-comanda" %}')">
      <img src="{% static 'img/fazerPedido.jpg' %}" class="card-img-top mt-2"
        alt="Pessoa com uma caneta na mão anotando em um caderno.">
      <div class="card-body">
        <h5 class="card-title">Fazer Pedido</h5>
        <p class="card-text"> Criado para que a linha de frente crie as comandas dos clientes. </p>
      </div>
    </div>
    {% endif %}
    {% else %}
    <div class="text-center card mb-2" style="width: 17rem; margin-right: 10px;">
      <img src="{% static 'img/pedido.jpg' %}" class="card-img-top mt-2" alt="Homem segurando uma comanda" 
      style="max-width: 250px;">
      <div class="card-body">
        <h5 class="card-title">Pedido</h5>
        <p class="card-text">Aqui você pode olhar e alterar seu pedido.</p>
        <script>
          function verificaPedido() {
            if ($('#codeVerify').val() == '') {
              $('#codeVerify').attr('style', 'border: 1px solid red;').attr('value', 'Insira um código Válido')
            } else {
              $.ajax({
                type: "GET",
                url: "{% url 'enviarCodigoUnicoMail' %}",
                data: {
                  code: $('#codeVerify').val(),
                  ident: '0',
                },
                success: function (response) {
                  window.location.href = response
                },
                error: function (response) {
                }
              });
            }
          }
        </script>
        <div class="text-center">
          <input type="text" name="codigoUsuario" class='form-control' id="codeVerify" placeholder="Código do email"
            onclick="$('#codeVerify').attr('style', '').attr('value', '')"> <br>
          <button type="button" class="btn btn-primary" onclick="verificaPedido()">Ver Pedido</button>
        </div>
      </div>
    </div>
    {% endif %}
    {% if perms.equipe.view_funcionario or request.user.is_staff or request.user.is_superuser %}
    <div class="btn btn-outlined-secondary card mb-2" style="width: 17rem; margin-right: 10px;" 
    onmouseenter="this.style = 'width: 17rem; margin-right: 10px;background-color: lightgray !important;'" 
    onmouseleave="this.style = 'width: 17rem; margin-right: 10px;background-color: white !important; color: black !important;'"
    onclick="window.location.assign('{% url "listar-funcionario" %}')">
      <img src="{% static 'img/equipe.png' %}" class="card-img-top mt-2"
        alt="desenhos de pessoas umas ao lado das outras."
        style="max-width: 250px;">
      <div class="card-body">
        <h5 class="card-title">Gerenciar Equipe</h5>
        <p class="card-text">Gerenciamento de todos os colaboradores que trabalham, ou já trabalharam, no restaurante.
        </p>
      </div>
    </div>
    {%endif%}

    {% if perms.mesas.view_comanda or request.user.is_staff or request.user.is_superuser %}
    <div class="btn btn-outlined-secondary card mb-2" style="width: 17rem; margin-right: 10px;" 
    onmouseenter="this.style = 'width: 17rem; margin-right: 10px;background-color: lightgray !important;'" 
    onmouseleave="this.style = 'width: 17rem; margin-right: 10px;background-color: white !important; color: black !important;'"
    onclick="window.location.assign('{% url "listar-retaguarda" %}')">
      <img src="{% static 'img/retaguarda.jpeg' %}" class="card-img-top mt-2"
        alt="desenhos de pessoas umas ao lado das outras."
        style="max-width: 250px;">
      <div class="card-body">
        <h5 class="card-title">Comandas da Cozinha</h5>
        <p class="card-text">Exibição das comandas próprias para a retaguarda.</p>
      </div>
    </div>
    {%endif%}
  </div>
</div>
{% endblock %}