{% extends 'paginas/modelo.html' %}

{% load static %}

{% block titulo %}
Visualização do Pedido
{% endblock %}


{%block conteudo %}
<script type="text/javascript">
    function chamar(idMesa) {
        $.ajax({
            type: "GET",
            url: "{% url 'chamar-garcom' %}",
            data: {
                mesaID: idMesa,
            },
            success: function (response) {
                $('#botaoGarcom').attr('class', 'btn btn-success btn-lg').attr('onclick', 'alert("Você já chamou o garçom.");')
                $('#iconGarcom1').attr('class', 'fa')
                $('#iconGarcom2').attr('class', 'fa fa-thumbs-up')
                $('#textGarcom').html('O Garçom já está a caminho.')
            }
        });
    };
</script>
<div style="border: 1px solid gray; border-radius: 50px; background-color: rgb(245, 245, 229);">
    <h3 style="margin-left:40px; margin-right:40px;">Produtos Registrados na Sua Comanda</h3>
    <div class="row mt-2 mb-4 justify-content-around">
        {% for produto in object_list.1 %}
        <div class="card mb-2 text-center" style="width: 18rem;">
            <img src="{{produto.produto.imagem.url}}" class="mb-1 mt-1 mx-auto" width="150px"
                style="border: 5px; border-radius: 15px;">
            <div class="card-body">
                <h5 class="card-title">{{produto.produto.nome}}</h5>
                <p class="card-text">
                    {% if produto.produto.descricao %}
                    {{produto.produto.descricao}}
                    {% else %}
                    O Produto não possui descrição.
                    {% endif %}
                </p>
                <br>
                <div class="row justify-content-around">
                    <div class="col">
                        <b>Pedidos</b>
                    </div>
                    <div class="col">
                        <b>Entregue</b>
                    </div>
                </div>
                <dvi class="row">
                    <div class="col">
                        {{produto.quantidade}}
                    </div>
                    <div class="col">
                        {{produto.quantidadeEntregue}}
                    </div>
                </dvi>
            </div>
        </div>
        {%endfor%}
    </div>
    <div class="row text-center mb-3" style="margin-left: 50px; margin-right: 50px;">
        {% if object_list.0.nmrMesa.garcom %}
        <button class="btn btn-success btn-lg" type="button">
            O Garçom já está a caminho.
            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
        </button>
        {% else %}
        <button class="btn btn-warning btn-lg" type="button" id="botaoGarcom"
            onclick="chamar('{{ object_list.1.0.comanda.nmrMesa.id }}')">
            <i class="fa fa-bell" id="iconGarcom1" aria-hidden="true"></i>
            <span id="textGarcom">Chamar Garçom</span>
            <i class="fa" id="iconGarcom2" aria-hidden="true"></i>
        </button>
        {% endif %}
    </div>
</div>
<div class="row mt-3 mb-3 mx-auto text-center justify-content-around">
    <div class="col">
        <a href="{% url 'index' %}" class="btn btn-primary">
            <i class="fa fa-home" aria-hidden="true"></i>
            Voltar
        </a>
    </div>
    <div class="col">
        <a href="{% url 'listar-produto' %}" class="btn btn-secondary">
            <i class="fa fa-book" aria-hidden="true"></i>
            Cardápio
        </a>
    </div>
</div>
{%endblock%}